@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,900&display=swap');
        
.ldBar-label {
    display: none;
    color: rgb(0, 0, 0);
    font-family: 'varela round';
    font-size: 1em;
    font-weight: 900;
}

.ldBar.ass path.mainline  {
    /* stroke-width: 10; */
    stroke: rgb(255, 0, 64);
    /* stroke-linecap: round; */
}


.flex{
    width: 40%;
    margin: auto;
    display: flex;
}
.container{
    flex: 1;
    border:1px solid black ;
}
.current{
    flex: 2;
    border:1px solid black ;

}