/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Secular+One&display=swap');.ldBar-label {
    display: none;
    color: rgb(0, 0, 0);
    /* font-family: 'varela round'; */
    /* font-family: 'Fruktur', cursive; */
    font-size: 1em;
    font-weight: 900;
}

.ldBar.ass path.mainline  {
    stroke-width: 10;
    stroke: rgb(255, 0, 64);
    stroke-linecap: round;
}


.flex{
    font-family: 'Secular One', sans-serif;
    width: 80%;
    margin: auto;
    display: flex;
}
.flex-left{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.flex-right{
    justify-content: flex-start;
    flex: 1;
    /* border: 1px solid black; */
    display: flex;

}
.container{
    margin: 20px;

}
div > .fa{
    align-self: center;
    
}
div > .fa:hover{
    cursor: pointer;
    
}